<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HomePage</title>
</head>
<body>
    <h2>total number of users on app: <%= count %></h2>
    <form action="/user/new" method="get">
        <button>Join Us!</button>
    </form>
</body>
</html>